---
title: About Goshen
layout: page
image: /assets/hero_about.jpg
imagePosition: center 35%;
aboutTitle: Why Goshen?
tagline: There's lots to choose from at our nationally and fully accredited camp.
aboutImage: /assets/about01.jpg
abouttext: |
    goshen scout reservation is located in the wilderness of the blue ridge mountains of virginia and has at its center the beautiful, 450 acre lake merriweather.
    
    spaced around this lake are:
    - 3 boy scout camps: bowman, marriott, &amp; olmsted
    - 2 resident webelos camps: pmi &amp; ross
    - lenhok'sin high adventure

    we also have a number of specialized programs:
    - lds week
    - provisional camping
    - specialty week: trail to eagle
    - venturing advancement camp
cta: please explore and contact us to let us know if you'd like to learn more!
videos:
    - blU15_j8Yfw
    - CrIizmhRYP0
    - mqFQBHPEt1U
    - fju-sh70VQQ
    - xMKFk6hG0S4
---
{% include aboutsection-basic.html %}
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="gsrtitle3" style="text-align: center;">Resources</h2>
        <p style="text-align: center;">Need cool stuff to show folks back at your unit? We have you covered.</p>
        <div class="col-sm-6" style="padding-right: 2%; border-right: 2px solid #2f384c;">
            {% include video-gallery.html %}
        </div>
        <div class="col-sm-6">
            <h3 style="text-align: center;">Downloadables</h3>
            <div class="dl-flex-container">
                <div class="dl-flex-item">
                    <a href="#"><img src="/assets/gsr_promocover.png" class="img-responsive" style="max-width: 200px; height: auto; max-height: 200px; display: inline-block; margin: 15px;"/></a>
                    <p><a href="#">File Name</a><br/>[fileType] (fileSize)</p>
                </div>
                <div class="dl-flex-item">
                    <a href="#"><img src="/assets/gsr_promocover.png" class="img-responsive" style="max-width: 200px; height: auto; max-height: 200px; display: inline-block; margin: 15px;"/></a>
                    <p><a href="#">File Name</a><br/>[fileType] (fileSize)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="gsrtitle3 text-center">Contact Us</h2>
        <p class="text-center">Insert contact form here</p>
    </div>
</div>
<div class="row" style="background-color: #3A5A5B; color: #fff; text-align: center;">
    <h2 class="gsrtitle4" style="text-align: center;">Register Now!</h2>
    <p>Already know you want to register?</p>
    <p><a class="haunter-button" href="/registration.html">Click Here</a></p>
    <p>Still not sure? Keep browsing the information below!</p>
</div>
<div class="row" style="padding-bottom: 0;">
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/specialtyweek01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/specialtyweek02.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/provisionalcamp01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/provisionalcamp02.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/ldsweek01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/ldsweek02.jpg');"></div>
</div>
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle3 text-center">Webelos Camps</h2>
        <div class="col-md-4 col-md-offset-2">
            <div class="comparisonHeader" style="background-color: #D40006; color: #fff;">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Camp PMI</h3>
                <h4>Pride. Style. Dedication.</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_pmi.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logopmi.png" />
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>2016 Theme:</b> Space Pirates</p>
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dining Hall</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Hilly Terrain</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;BB's, Archery, Handicraft, Scout Skills, Nature, 2nd Year Program</p>
                <p><a class="cubone-button" style="background-color: #D40006; color: #fff;" href="/camps/pmi.html">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="comparisonHeader" style="background-color: #2180AC; color: #0e0e0e;">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Camp Ross</h3>
                <h4>Ross is Boss!</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_ross.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logoross.png" />
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>2016 Theme:</b> Space Pirates</p>
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dining Hall</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat terrain with campsites on hills</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;BB's, Archery, Handicraft, Scout Skills, Nature, 2nd Year Program</p>
                <p><a class="cubone-button" style="background-color: #2180AC; color: #0e0e0e;" href="/camps/ross.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 0;">
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/home01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/home02.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/home03.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/home04.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/olm01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/olm02.jpg');"></div>
</div>
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle3 text-center">Boy Scout and Venturing Resident Camps</h2>
        <div class="col-md-4">
            <div class="comparisonHeader" style="background-color: #668014; color: #fff;">
                <h4>7 day (Sat to Sat)</h4>
                <h3>Camp Bowman</h3>
                <h4>Rustic &amp; Hardcore</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_bowman.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logobow.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Hilly Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Patrol Method, Outdoor Skills, Shooting Sports</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Bowman Vets (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;First Year Camper (First Year Program)</p>
                <p><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Special Offerings:</b> Venturing Advancement Camp</p>
                <p><a class="cubone-button" style="background-color: #668014; color: #fff;" href="/camps/bowman.html">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="comparisonHeader" style="background-color: #9d102d; color: #fff;">
                <h4>7 day (Sat to Sat)</h4>
                <h3>Camp Marriott</h3>
                <h4>Goshen's Specialty Camp</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_mar.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Special Offerings:</b> LDS Week with dedicated programming, Specialty Week with Trail to Eagle, Provisional Camp (come without your unit)</p>
                <p><a class="cubone-button" style="background-color: #9d102d; color: #fff;" href="/camps/marriott.html">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="comparisonHeader" style="background-color: #FFCC11; color: #0e0e0e;">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Camp Olmsted</h3>
                <h4>Program-Focused</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_olm.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logoolm.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dining Hall</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Open and Terraced</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> STEM (Science, Technology, Engineering, &amp; Mathematics)</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;X-Pride (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Trailshead (First Year Program)</p>
                <p><a class="cubone-button" style="background-color: #FFCC11; color: #0e0e0e;" href="/camps/olmsted.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 0;">
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/facilities01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/facilities02.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/facilities03.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/olm03.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/atv01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/cope01.jpg');"></div>
</div>
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle3 text-center">High Adventure</h2>
    </div>
</div>
<div class="row" style="padding-bottom: 0;">
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/climb01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/pmi01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/ross01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/bow01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/mar01.jpg');"></div>
    <div class="col-sm-2 pictureDivider" style="background-image: url('/assets/lha01.jpg');"></div>
</div>
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle3 text-center">Specialty Programs</h2>
        <div class="col-md-3">
            <div class="comparisonHeader" style="background-color: #6c193f; color: #fff;">
                <h4>Week 1 (Mon to Sat)</h4>
                <h3>LDS Week</h3>
                <h4>at Camp Marriott</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_lds.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" style="background-color: #6c193f; color: #fff;" href="/camps/marriott.html">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="comparisonHeader" style="background-color: #d21034; color: #fff;">
                <h4>All Summer (Sat to Sat)</h4>
                <h3>Provisional Camping</h3>
                <h4>at Camp Marriott</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_provisional.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" style="background-color: #d21034; color: #fff;" href="/camps/marriott.html">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="comparisonHeader" style="background-color: #ff5c00; color: #fff;">
                <h4>Week 6 (Sun to Sat)</h4>
                <h3>Specialty Week</h3>
                <h4>at Camp Marriott</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_specialty.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" style="background-color: #ff5c00; color: #fff;" href="/camps/marriott.html">Learn More</a></p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="comparisonHeader" style="background-color: #228b22; color: #fff;">
                <h4>Any 2 Weeks (Sat to Sat)</h4>
                <h3>Venturing Camp</h3>
                <h4>at Camp Bowman</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/hero_venturing.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logobow.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" style="background-color: #228b22; color: #fff;" href="/camps/bowman.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>