---
title: About Goshen
layout: page
image: /assets/hero_about.jpg
imagePosition: center 35%;
aboutTitle: Why Goshen?
tagline: There's lots to choose from at our nationally and fully accredited camp.
aboutImage: /assets/about01.jpg
aboutText: |
    Goshen Scout Reservation is located in the wilderness of the Blue Ridge Mountains of Virginia and has at its center the beautiful, 450 acre Lake Merriweather.
    
    Spaced around this lake are:

    - 3 Boy Scout Camps: Bowman, Marriott, &amp; Olmsted
    - 2 Resident Webelos Camps: PMI &amp; Ross
    - Lenhok'sin High Adventure

    We also have a number of specialized programs:
    
    - LDS Week
    - Provisional Camping
    - Specialty Week: Trail to Eagle
    - Venturing Advancement Camp
CTA: Please explore and contact us to let us know if you'd like to learn more!
videos:
    - blU15_j8Yfw
    - CrIizmhRYP0
    - mqFQBHPEt1U
    - fju-sh70VQQ
    - xMKFk6hG0S4
---
{% include aboutSection-basic.html %}
<div class="row scheme2">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="gsrtitleC" style="text-align: center;">Resources</h2>
        <p style="text-align: center;">Need cool stuff to show folks back at your unit? We have you covered.</p>
        <div class="col-sm-6" style="padding-right: 2%; border-right: 2px solid #2f384c;">
            {% include video-gallery.html %}
        </div>
        <div class="col-sm-6">
            <h3 style="text-align: center;">Downloadables</h3>
            <div class="dl-flex-container">
                <div class="dl-flex-item">
                    <a href="#"><img src="/assets/gsr_promocover.png" class="img-responsive" style="max-width: 200px; height: auto; max-height: 200px; display: inline-block; margin: 15px;"/></a>
                    <p><a href="#">File Name</a><br/>[fileType] (fileSize)</p>
                </div>
                <div class="dl-flex-item">
                    <a href="#"><img src="/assets/gsr_promocover.png" class="img-responsive" style="max-width: 200px; height: auto; max-height: 200px; display: inline-block; margin: 15px;"/></a>
                    <p><a href="#">File Name</a><br/>[fileType] (fileSize)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row scheme5">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="gsrtitleC">Contact Us</h2>
        <p>Want to learn more?</p>
        <p><a class="marowak-button" href="/information/contact.html">Send us a message</a></p>
    </div>
</div>
<div class="row" style="background-color: #3A5A5B; color: #fff; text-align: center;">
    <h2 class="gsrtitle4" style="text-align: center;">Register Now!</h2>
    <p>Already know you want to register?</p>
    <p><a class="haunter-button" href="/registration.html">Click Here</a></p>
    <p>Still not sure? Keep browsing the information below!</p>
</div>
<div class="row scheme2">
    <h2 class="gsrtitleC text-center">Webelos Camps</h2>
    <div class="about-flex-container col-md-8 col-md-offset-2">
        <div class="about-flex-item" id="pmi-about">
            <div class="comparisonHeader">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Camp PMI</h3>
                <h4>Pride. Style. Dedication.</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-pmi.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logopmi.png" />
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>2016 Theme:</b> Space Pirates</p>
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dining Hall</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Hilly Terrain</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;BB's, Archery, Handicraft, Scout Skills, Nature, 2nd Year Program</p>
                <p><a class="cubone-button" href="/camps/pmi.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="ross-about">
            <div class="comparisonHeader">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Camp Ross</h3>
                <h4>Ross is Boss!</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-ross.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logoross.png" />
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>2016 Theme:</b> Space Pirates</p>
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dining Hall</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat terrain with campsites on hills</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;BB's, Archery, Handicraft, Scout Skills, Nature, 2nd Year Program</p>
                <p><a class="cubone-button" href="/camps/ross.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row scheme3">
    <h2 class="gsrtitleC text-center">Boy Scout and Venturing Resident Camps</h2>
    <div class="about-flex-container col-md-8 col-md-offset-2">
        <div class="about-flex-item" id="bow-about">
            <div class="comparisonHeader">
                <h4>7 day (Sat to Sat)</h4>
                <h3>Camp Bowman</h3>
                <h4>Rustic &amp; Hardcore</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-bow.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logobow.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Hilly Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Patrol Method, Outdoor Skills, Shooting Sports</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Bowman Vets (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;First Year Camper (First Year Program)</p>
                <p><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Special Offerings:</b> Venturing Advancement Camp</p>
                <p><a class="cubone-button" href="/camps/bowman.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="mar-about">
            <div class="comparisonHeader">
                <h4>7 day (Sat to Sat)</h4>
                <h3>Camp Marriott</h3>
                <h4>Goshen's Specialty Camp</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-mar.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><i class="fa fa-certificate" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Special Offerings:</b> LDS Week with dedicated programming, Specialty Week with Trail to Eagle, Provisional Camp (come without your unit)</p>
                <p><a class="cubone-button" href="/camps/marriott.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="olm-about">
            <div class="comparisonHeader">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Camp Olmsted</h3>
                <h4>Program-Focused</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-olm.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logoolm.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Dining Hall</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Open and Terraced</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> STEM (Science, Technology, Engineering, &amp; Mathematics)</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;X-Pride (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Trailshead (First Year Program)</p>
                <p><a class="cubone-button" href="/camps/olmsted.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row scheme2">
    <h2 class="gsrtitleC text-center">High Adventure</h2>
        <div class="about-flex-container col-md-8 col-md-offset-2">
        <div class="about-flex-item" id="lha-about">
            <div class="comparisonHeader">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Lenhok'sin Trail Trek</h3>
                <h4>Backpacking with Adventure Activities</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-lha.png');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logolha.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Trail Meals</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Outposts:</b><br/>Caving (Technical)<br/>Foxfire (Historical)<br/>Mountain Man (Historical)<br/>Mountain Sports (Technical)<br/>Paddle Sports (Technical)<br/>River Guide<br/>Robin Hood (Historical)<br/>Rock Climbing (Technical)</p>
                <p><a class="cubone-button" href="/camps/lenhoksin.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="lha-about-2">
            <div class="comparisonHeader">
                <h4>6 day (Sun to Sat)</h4>
                <h3>Lenhok'sin Canoe Trek</h3>
                <h4>James River Canoeing</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-lha2.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logolha.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Trail Meals</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Outposts:</b><br/>Class I &amp; II rapids</p>
                <p><a class="cubone-button" href="/camps/lenhoksin.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row scheme3">
    <h2 class="gsrtitleC text-center">Special Programs</h2>
    <div class="about-flex-container col-md-8 col-md-offset-2">
        <div class="about-flex-item" id="lds-about">
            <div class="comparisonHeader">
                <h4>Week 1 (Mon to Sat)</h4>
                <h3>LDS Week</h3>
                <h4>at Camp Marriott</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-lds.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" href="/camps/ldsweek.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="pvc-about">
            <div class="comparisonHeader">
                <h4>All Summer (Sat to Sat)</h4>
                <h3>Provisional Camping</h3>
                <h4>at Camp Marriott</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-pvc.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" href="/camps/provisional.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="spw-about">
            <div class="comparisonHeader">
                <h4>Week 6 (Sun to Sat)</h4>
                <h3>Specialty Week</h3>
                <h4>at Camp Marriott</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-spw.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logomar.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" style="background-color: #ff5c00; color: #fff;" href="/camps/specialtyweek.html">Learn More</a></p>
            </div>
        </div>
        <div class="about-flex-item" id="vtr-about">
            <div class="comparisonHeader">
                <h4>Any 2 Weeks (Sat to Sat)</h4>
                <h3>Venturing Camp</h3>
                <h4>at Camp Bowman</h4>
            </div>
            <div class="comparisonImage" style="background-image: url('/assets/about-vtr.jpg');">
            </div>
            <div class="comparisonBody">
                <img src="/assets/logobow.png" />
                <p><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Patrol Cooking &amp; Heater Stack (eat prepared meals with your unit at your site)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Flat &amp; Compact Terrain</p>
                <p><i class="fa fa-star-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Program Emphases:</b> Eagle Advancement, Aquatics, Outdoor &amp; Environmental Learning</p>
                <p><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Marriott Adventure Program (Older Scout Program)</p>
                <p><i class="fa fa-map" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ATV, COPE, &amp; Climbing at Camp Post for Older Scouts</p>
                <p><i class="fa fa-child" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;New Scout Quest (First Year Program)</p>
                <p><a class="cubone-button" href="/camps/venturing.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>