---
title: Home
layout: home
theme: basic
block1-title: Registration 2017
block1-content: Sign ups, dates, fees, and more will be available in early October.
block1-link: /registration.html 
picture-block1: /assets/home01.jpg
block2-title: New to Goshen?
block2-content: Why choose us? There are lots of reasons. Visit our About page to
block2-link: /about.html
picture-block2: /assets/home02.jpg
block3-title: New in 2017
block3-content: For those returning
block3-link: #
picture-block3: /assets/home03.jpg
block4-title: Goshen@50
block4-content: Save the date. Memorial Day Weekend 2017.
block4-link: /events/goshenat50.html
picture-block4: /assets/home04.jpg
---
{% include homeblocks.html %}
<div class="row scheme2" id="UpcomingEvents">
    <div class="col-sm-8 col-sm-offset-2">
        <h2 class="gsrtitleC text-center">Upcoming Events</h2>
        <div class="col-md-6" id="event-prime">
            <h3>MONTH DD</h3>
            <h4>Event Title</h4>
            <p>Event Description</p>
        </div>
        <div class="col-md-6" id="event-other">
            <div class="event-wrapper">
                <div class="event-date">
                    <p>23<span>SEPT</span></p>
                </div>
                <div class="event-descrip">
                    <h4>Deadline for Fall Scouter's Digest</h4>
                    <p>Submissions due by this date.</p>
                </div>
            </div>
            <div style="background-color: #ADB5C8; min-height: 90px; padding: 10px; overflow: hidden; margin-bottom: 5px;">
                <div style="width: 20%; float: left; text-align: center; border-right: 2px solid #0A142E;">
                    <p style="font-family: 'Palanquin',sans-serif; font-size: 35px; color: #212C48; line-height: 1; margin: 0;">23<span style="display: block; font-family: 'Palanquin', sans-serif; font-size: 24px; color: #1A3F40;">SEPT</span></p>
                </div>
                <div style="width: 80%; float: left; text-align: left; padding-left: 10px; height: 70px; overflow: hidden; text-overflow: ellipsis;">
                    <h4 style="font-size: 14px; color: #212C48; font-weight: 700;">Deadline for Fall Scouter's Digest</h4>
                    <p style="height: 13px; line-height: 1.4; margin: 0;">Submissions due by this date.</p>
                </div>
            </div>
            <div style="background-color: #ADB5C8; min-height: 90px; padding: 10px; overflow: hidden; margin-bottom: 5px;">
                <div style="width: 20%; float: left; text-align: center; border-right: 2px solid #0A142E;">
                    <p style="font-family: 'Palanquin',sans-serif; font-size: 35px; color: #212C48; line-height: 1; margin: 0;">23<span style="display: block; font-family: 'Palanquin', sans-serif; font-size: 24px; color: #1A3F40;">SEPT</span></p>
                </div>
                <div style="width: 80%; float: left; text-align: left; padding-left: 10px; height: 70px; overflow: hidden; text-overflow: ellipsis;">
                    <h4 style="font-size: 14px; color: #212C48; font-weight: 700;">Deadline for Fall Scouter's Digest</h4>
                    <p style="height: 13px; line-height: 1.4; margin: 0;">Submissions due by this date.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row scheme5">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">Latest News</h2>
        {% for post in site.posts limit:3 %}
        <div class="col-sm-4">
            <h3>{{post.title}}</h3>
            <p class="highlight1"><time datetime="{{post.date | date_to_xmlschema}}">{{post.date | date:"%m.%d.%Y"}}</time></p>
            <p>{{post.description}}</p>
            <p class="text-center"><a class="ghastly-button text-center" href="{{post.url}}" style="background-color: #212C48;">Read More</a></p>
        </div>
        {% endfor %}
</div>