---
title: Registration
layout: page
theme: basic
image: /assets/hero_registration.jpg
imagePosition: center 60%
category: Registration
aboutImage: /assets/register01.jpg
tagline: All the information you need to sign up for camp.
contents:
    - name: Quick Facts
      link: "#quick-facts"
    - name: Schedule &amp; Availability
      link: "#sched-avail"
    - name: Register Now
      link: "#register"
    - name: Camp Costs
      link: "#fees"
    - name: Camperships
      link: "#camperships"
---
<style>
    .fa-stack i:first-child {
        color: #212C48;
    }
    .gsr-flex-item {
        background-color: transparent;
    }
</style>
{% include aboutSection-ConAnn.html %}
<section class="row scheme2" id="quick-facts">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">Quick Facts</h2>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">1</i>
                </span>
                &nbsp;Leaders Required?
            </h3>
            <p>All units must provide adult leadership at camp, unless the youth(s) attending are provisional Boy Scouts. There is no provisional program for Webelos Resident Camps. If a contingent is only a parent/son combination, that is acceptable.</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">2</i>
                </span>
                &nbsp;Who Registers?
            </h3>
            <p>Only one person, the Unit Registrar, should manage the registration, enter information, and make payments on behalf of the unit. (Parents should contact their unit registrar to register their youth to go to camp.)</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">3</i>
                </span>
                &nbsp;Reserve Your Spot
            </h3>
            <p>To reserve your unit’s spot, the unit registrar needs to enter their unit information and pay a non-refundable deposit payment of $360. (This is the cost of just one youth!)</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">4</i>
                </span>
                &nbsp;Password?
            </h3>
            <p>With the new online system, no username or password is required. Everything is handled with the email address you provide.</p>
        </div>
    </div>
</section>
<section class="row scheme2">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">5</i>
                </span>
                &nbsp;Adding Campers
            </h3>
            <p>The registrar does not need to know exactly how many people are coming to reserve space at camp. Additional attendees can be added as youth and adults commit. (The registrar will receive an email that gives further details AFTER the first payment is made.)</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">6</i>
                </span>
                &nbsp;Free Adult Policy!
            </h3>
            <p>Every unit will receive two free adults, regardless of the unit size. The system will automatically subtract the cost when you go to Make a Payment.</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">7</i>
                </span>
                &nbsp;Pay in Full
            </h3>
            <p>Each participant will need to pay in full to be considered registered for Goshen Summer Programs.</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">8</i>
                </span>
                &nbsp;Camperships
            </h3>
            <p>If you plan on applying for a campership for a youth, please DO NOT pay the full amount right away. Voucher codes will be sent out after camperships are awarded.</p>
        </div>
    </div>
</section>
<section class="row scheme5" id="sched-avail">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">2017 Schedule &amp; Availability</h2>
        <p>Availability (below) indicates if new units are able to register for a specific week of camp. If your unit has already reserved a week at camp then your Goshen coordinator will be able to add campers as space allows.</p>
        <table class="mainSchedTable">
            <thead>
                <tr>
                    <th></th>
                    <td>Camp Bowman</td>
                    <td>Camp Marriott</td>
                    <td>Camp Olmsted</td>
                    <td>Camp PMI</td>
                    <td>Camp Ross</td>
                    <td>Lenhok'sin</td>
                </tr>
            </thead>
            <tbody>
                {% for week in site.data.schedAvailv2 %}
                <tr>
                    <th>{{week.name}}</th>
                    {% for camp in week.camps %}
                    <td>{{camp.dates}}<br/>
                        {% if camp.title != null %}
                        {{camp.title}}<br/>
                        {% endif %}
                        {{camp.avail}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="mainSchedTableHeader">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for camp in site.data.schedAvail %}
                <tr>
                    <th>{{camp.Name}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table class="mainSchedTable">
            <thead>
                <tr>
                    <th></th>
                    <td>Week 1</td>
                    <td>Week 2</td>
                    <td>Week 3</td>
                    <td>Week 4</td>
                    <td>Week 5</td>
                    <td>Week 6</td>
                </tr>
            </thead>
            <tbody>
                {% for camp in site.data.schedAvail %}
                <tr>
                    <th>{{camp.Name}}</th>
                    {% for week in camp.Weeks %}
                    <td>{{week.dates}}<br/>
                        {% if week.title != null %}
                        {{week.title}}<br/>
                        {% endif %}
                        {{week.avail}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
</section>
<section class="row scheme2" id="register">
    <h2 class="gsrtitleC text-center">Register Now</h2>
    <div class="gsr-flex-container">
        <div class="gsr-flex-item text-center">
            <a href="https://scoutingevent.com/082-2017Bowman" target="_blank" class="porygon-button">Register for<br/>Camp Bowman</a>
            <p>Standard Boy Scout Program or Venturing Program</p>
        </div>
        <div class="gsr-flex-item text-center">
            <a href="https://scoutingevent.com/082-2017Marriott" target="_blank" class="porygon-button">Register for<br/>Camp Marriott</a>
            <p>Standard Boy Scout Program, Provisional Program, LDS Week, or Specialty Week</p>
        </div>
        <div class="gsr-flex-item text-center">
            <a href="https://scoutingevent.com/082-2017Olmsted" target="_blank" class="porygon-button">Register for<br/>Camp Olmsted</a>
            <p>Standard Boy Scout Program</p>
        </div>
        <div class="gsr-flex-item text-center">
            <a href="https://scoutingevent.com/082-2017PMI" target="_blank" class="porygon-button">Register for<br/>PMI</a>
            <p>Webelos Program and Arrow of Light Program</p>
        </div>
        <div class="gsr-flex-item text-center">
            <a href="https://scoutingevent.com/082-2017Ross" target="_blank" class="porygon-button">Register for<br/>Camp Ross</a>
            <p>Webelos Program and Arrow of Light Program</p>
        </div>
        <div class="gsr-flex-item text-center">
            <a href="https://scoutingevent.com/082-2017Lenhoksin" target="_blank" class="porygon-button">Register for<br/>Lenhok'sin</a>
            <p>Backpacking or Canoe High Adventure Trek</p>
        </div>
    </div>
</section>
<section class="row scheme1" id="fees">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">Camp Costs</h2>
        {% include feesTable.html %}
        <h3>Other Fees</h3>
        <table class="gsrFeeTable">
            <thead>
                <tr>
                    <td>Add-on Program</td>
                    <td>Additional Fees</td>
                </tr>
            </thead>
            <tbody>
                {% for program in site.data.fees.otherFees %}
                <tr>
                    <td>{{program.label}}</td>
                    <td>{% if fee.cost %}${{fee.cost}}{% else %}TBA{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<section class="row scheme2" id="camperships">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">Camperships</h2>
        <div class="col-sm-6">
            <p>All Campership requests for Goshen Scout Reservation are due at the Council Service Center by February 1 of each year. The Campership Committee will convene and make award designations. Requests received after the due date will only be considered if funds are still available. If you plan on applying for a campership for a youth, please DO NOT pay the full amount right away. Voucher codes will be sent out after camperships are awarded.</p>
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <h3 style="margin-top: 0;">Due February 1st</h3>
            <p><a href="#" target="_blank"><i style="font-size: 50px;" class="fa fa-file" aria-hidden="true"></i></a></p>
            <p><a href="#" target="_blank">Document Name [docType] (file size)</a></p>
        </div>
    </div>
</section>