---
title: Registration
layout: page
theme: basic
image: /assets/Hero_Registration.jpg
imagePosition: center 60%
---
{% include aboutSection-ConAnn.html %}
<section class="row scheme2">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">Quick Facts</h2>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">1</i>
                </span>
                &nbsp;Leaders Required?
            </h3>
            <p>All units must provide adult leadership at camp, unless the youth(s) attending are provisional Boy Scouts. There is no provisional program for Webelos Resident Camps. If a contingent is only a parent/son combination, that is acceptable.</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">2</i>
                </span>
                &nbsp;Who Registers?
            </h3>
            <p>Only one person, the Unit Registrar, should manage the registration, enter information, and make payments on behalf of the unit. (Parents should contact their unit registrar to register their youth to go to camp.)</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">3</i>
                </span>
                &nbsp;Reserve Your Spot
            </h3>
            <p>To reserve your unit’s spot, the unit registrar needs to enter their unit information and pay a non-refundable deposit payment of $360. (This is the cost of just one youth!)</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">4</i>
                </span>
                &nbsp;Password?
            </h3>
            <p>With the new online system, no username or password is required. Everything is handled with the email address you provide.</p>
        </div>
    </div>
</section>
<section class="row scheme2">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">5</i>
                </span>
                &nbsp;Adding Campers
            </h3>
            <p>The registrar does not need to know exactly how many people are coming to reserve space at camp. Additional attendees can be added as youth and adults commit. (The registrar will receive an email that gives further details AFTER the first payment is made.)</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">6</i>
                </span>
                &nbsp;Free Adult Policy!
            </h3>
            <p>Every unit will receive two free adults, regardless of the unit size. The system will automatically subtract the cost when you go to Make a Payment.</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">7</i>
                </span>
                &nbsp;Pay in Full
            </h3>
            <p>Each participant will need to pay in full to be considered registered for Goshen Summer Programs.</p>
        </div>
        <div class="col-sm-3">
            <h3>
                <span class="fa-stack">
                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                    <i class="fa fa-inverse fa-stack-1x" aria-hidden="true">8</i>
                </span>
                &nbsp;Camperships
            </h3>
            <p>If you plan on applying for a campership for a youth, please DO NOT pay the full amount right away. Voucher codes will be sent out after camperships are awarded.</p>
        </div>
    </div>
</section>
<section class="row scheme5">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">2017 Schedule &amp; Availability</h2>
        <p>Availability (below) indicates if new units are able to register for a specific week of camp. If your unit has already reserved a week at camp then your Goshen coordinator will be able to add campers as space allows.</p>
        <table class="mainSchedTable">
            <thead>
                <tr>
                    <th></th>
                    {% for week in availability %}
                    <td>{{week.title}}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Camp Bowman</th>
                    <td>6/17-6/24<br/>Open</td>
                    <td>6/24-7/1<br/>Open</td>
                    <td>7/1-7/8<br/>Open</td>
                    <td>7/8-7/15<br/>Open</td>
                    <td>7/15-7/22<br/>Open</td>
                    <td>7/22-7/29<br/>Open</td>
                </tr>
                {% for week in availability %}
                <tr>
                    <th>{{week.camp}}</th>
                    {% if week.status contains "Open" or "open" %}
                    <td class="availability-open">{{week.dates}}<br>{{week.status}}</td>
                    {% elsif week.status contains "Closed" or "closed" %}
                    <td class="availability-closed">{{week.dates}}<br>{{week.status}}</td>
                    {% elsif week.status contains "Filling" or "filling" %}
                    <td class="availability-filling">{{week.dates}}<br>{{week.status}}</td>
                    {% else %}
                    <td class="availability-unknown">{{week.dates}}<br>{{week.status}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle3 text-center">Register Now</h2>
    </div>
</div>
<div class="row" style="background-color: #3A5A5B; color: #fff;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle4 text-center">Camp Costs</h2>
        <table class="gsrTable-dark">
            <thead>
                <tr>
                    <th></th>
                    <td>Price per Camper</td>
                    <td>If paid by...</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Early Discount Price<br/>(-$40)</th>
                    <td>Youth: $360<br/>Adult: $225*</td>
                    <td>April 14</td>
                </tr>
                <tr>
                    <th>Regular Price</th>
                    <td>Youth: $400<br/>Adult: $265*</td>
                    <td>May 19</td>
                </tr>
                <tr>
                    <th>Late Registration Price<br/>(+$40)</th>
                    <td>Youth: $440<br/>Adult: $305*</td>
                    <td>After May 19</td>
                </tr>
            </tbody>
        </table>
        <p class="text-center">*All units will receive <b>two free adult leaders</b> per unit!</p>
        <p class="text-center"><b>Early Bird Fee Special!</b> All campers who are paid in full by the Early Discount Deadline will be eligible for the 2017 Goshen hat!</p>
        <h3>Other Fees</h3>
        <table class="gsrTable-dark">
            <thead>
                <tr>
                    <td>Add-on Program</td>
                    <td>Additional Fees (2016/2017)</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ATV Program</td>
                    <td>$50/TBD</td>
                </tr>
                <tr>
                    <td>Bus Transportation</td>
                    <td>$45/TBD</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row" style="background-color: #CFD6D6;">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitle3 text-center">Camperships</h2>
        <div class="col-sm-6">
            <p>All Campership requests for Goshen Scout Reservation are due at the Council Service Center by February 1 of each year. The Campership Committee will convene and make award designations. Requests received after the due date will only be considered if funds are still available. If you plan on applying for a campership for a youth, please DO NOT pay the full amount right away. Voucher codes will be sent out after camperships are awarded.</p>
        </div>
        <div class="col-sm-6" style="text-align: center;">
            <h3 style="margin-top: 0;">Due February 1st</h3>
            <p><a href="#" target="_blank"><i style="font-size: 50px;" class="fa fa-file" aria-hidden="true"></i></a></p>
            <p><a href="#" target="_blank">Document Name [docType] (file size)</a></p>
        </div>
    </div>
</div>
