---
title: LDS Week
layout: camps
theme: marriott
campName: Camp Marriott
category: Summer Camp, Marriott, LDS, Registration, Camp Staff
image: /assets/hero_lds.jpg
imagePosition: center 60%
aboutImage: /assets/lds01.jpg
tagline: A week especially for LDS Troops.
aboutText: "This summer, we have two weeks dedicated to LDS Units: Week 1 (6/27 – 7/2) and Week 3 (7/18 – 7/23). For these weeks, we have a shortened schedule to especially cater to LDS Units. The schedule begins on Monday morning. Program begins on Monday afternoon and continues through to Friday, ending that afternoon with our campwide events. Can’t make it to LDS Week? Come any week! Just send us an email and let us know so we can help you jump into the week well prepared!"
CTA: Find more information below.
contents:
    - name: Program
      link: "#program"
    - name: Contact
      link: "#contact"
    - name: Be Staff
      link: "#staff"
    - name: Registration
      link: "#registration"
    - name: Downloads
      link: "#downloads"
    - name: How to Get There
      link: "#transportation"
campDirectorPicture: /assets/cd_mar01.jpg
campDirectorName: Matt Anderson
campDirectorBio: Matt has worked at Camp Marriott for the past 8 summers. His positions at camp have been; Scoutcraft Instructor, Aquatics Instructor, Commissioner, Head Commissioner, and Assistant Camp Director. Matt brings a hardworking attitude, love of Scouting, and desire to improve the camping experience to the camp director position.
campEmail: campmarriott@gmail.com
campFacebook: www.facebook.com/CampMarriott
campContactPicture: /assets/staff_mar01.jpg
unitTypes: Troop/Crew/Team
specialProgramReference: 2
campId: MAR
week: 1
---
<span class="anchor-buffer" id="program"></span>
<section id="program" class="row scheme2">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2 class="gsrtitleC text-center">LDS Week Program</h2>
        <div class="col-sm-4 col-sm-push-8" style="background-image: url('/assets/lds02.jpg'); min-height: 300px; background-size: cover; background-position: center center; margin-bottom: 15px;">
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sollicitudin lectus, sodales posuere odio. Nam vehicula convallis nisi quis dictum. Suspendisse rutrum est nunc, in pharetra leo consectetur ut. Sed congue porttitor fermentum. Curabitur commodo ultricies ligula, a porta nisl imperdiet ut. Donec sit amet nisl at tortor rutrum feugiat. Nullam odio urna, consequat eget nisl et, dignissim aliquet nisi. Duis eleifend dictum sapien non tincidunt. </p>
        </div>
    </div>
</section>
{% include meritbadges.html %}
{% include olderScoutSection.html %}
<div class="row picture-divider" style="background-image: url({{page.image}});">
</div>