---
title: Specialty Week
layout: camps
campName: Camp Marriott
theme: marriott
image: /assets/hero_specialty.jpg
imagePosition: center 60%
category: Summer Camp, Marriott, Specialty Week, Registration, Camp Staff
aboutImage: /assets/spw01.jpg
tagline: Do cool stuff you can't do any other week!
aboutText: "Camp Marriott will be hosting Specialty Week for the 2016 summer camping season. Specialty Week will be held during the week of July 31st to August 6th. Participants will spend the entire week engaging in activities focused around the theme of the program they have selected. Specialty week is open to Scouts who are 13 by September 2016 as well as Venturers, Varsity Scouts, Sea Scouts, and Explorers."
CTA: Units and individuals (aka provisionals) welcome for all Specialty Week programs!
campDirectorPicture: /assets/cd_mar01.jpg
campDirectorName: Matt Anderson
campDirectorBio: Matt has worked at Camp Marriott for the past 8 summers. His positions at camp have been; Scoutcraft Instructor, Aquatics Instructor, Commissioner, Head Commissioner, and Assistant Camp Director. Matt brings a hardworking attitude, love of Scouting, and desire to improve the camping experience to the camp director position.
campEmail: campmarriott@gmail.com
campFacebook: www.facebook.com/CampMarriott
campContactPicture: /assets/staff_mar01.jpg
unitTypes: Provisional Scout
specialProgramReference: 2
campId: MAR
week: 6
---
<span class="anchor-buffer" id="program"></span>
<section id="program" class="row scheme2">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2 class="gsrtitleC text-center">Specialty Week Program</h2>
        <div class="col-sm-4 col-sm-push-8" style="background-image: url('/assets/spw02.jpg'); min-height: 300px; background-size: cover; background-position: center center; margin-bottom: 15px;">
        </div>
        <div class="col-sm-8 col-sm-pull-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sollicitudin lectus, sodales posuere odio. Nam vehicula convallis nisi quis dictum. Suspendisse rutrum est nunc, in pharetra leo consectetur ut. Sed congue porttitor fermentum. Curabitur commodo ultricies ligula, a porta nisl imperdiet ut. Donec sit amet nisl at tortor rutrum feugiat. Nullam odio urna, consequat eget nisl et, dignissim aliquet nisi. Duis eleifend dictum sapien non tincidunt. </p>
        </div>
    </div>
</section>
{% include meritbadges.html %}
{% include olderScoutSection.html %}
<div class="row picture-divider" style="background-image: url({{page.image}});">
</div>