---
layout: camps
title: Camp Marriott
campName: Camp Marriott
image: /assets/Hero_MAR.jpg
imagePosition: center 15%
aboutImage: /assets/MAR01.jpg
tagline: Looking for something different? We're Goshen's Specialty Camp.
aboutText: Camp Marriott offers camping for 425 participants and includes an extensive aquatics program including sailing, canoeing, kayaking, rowing, and the ever popular water sports merit badge. Also of note is our ecology area, where there is an ever-changing zoo to showcase the flora and fauna of Goshen. Camp Marriott is located near great hiking trails, and offers the option of Patrol Cooking or Heater Stack dining options.
CTA: Find information on the standard program and our specialty highlights below.
campDirectorPicture: /assets/CD_MAR01.jpg
campDirectorName: Matt Anderson
campDirectorBio: Matt has worked at Camp Marriott for the past 8 summers. His positions at camp have been; Scoutcraft Instructor, Aquatics Instructor, Commissioner, Head Commissioner, and Assistant Camp Director. Matt brings a hardworking attitude, love of Scouting, and desire to improve the camping experience to the camp director position.
campEmail: campmarriott@gmail.com
campFacebook: www.facebook.com/CampMarriott
campContactPicture: /assets/Staff_MAR01.jpg
unitTypes: Troop/Crew/Team
programDisplayTitle: Merit Badge Program
programDisplayTitleYear: 2016
programAreas:
    -  icon: fa-life-ring
       title: Aquatics
       badges:
            - Canoeing
            - Kayaking
            - Lifesaving
            - Rowing
            - Small Boat Sailing
            - Swimming
            - Water Sports
    -  icon: fa-university
       title: Eagle's Eyrie
       badges:
            - Citizenship in the Nation
            - Citizenship in the World
            - Communication
            - Cooking
            - Personal Management
            - Public Speaking
    -  icon: fa-leaf
       title: Ecology
       badges:
            - Archaeology
            - Bird Study
            - Chemistry
            - Environmental Science
            - Fishing
            - Fish &amp; Wildlife Management
            - Forestry
            - Geology
            - Insect Study
            - Mammal Study
            - Oceanography
            - Plant Science
            - Pulp &amp; Paper
            - Reptiles &amp; Amphibians
            - Soil &amp; Water Conservation
            - Space Exploration
            - Weather
    -  icon: fa-paint-brush
       title: Handicraft
       badges:
            - Art
            - Basketry
            - Fingerprinting
            - Indian Lore
            - Leatherwork
            - Photography
            - Pottery
            - Wood Carving
    -  icon: fa-compass
       title: Scoutcraft
       badges:
            - Backpacking
            - Camping
            - Emergency Preparedness
            - Fire Safety
            - First Aid
            - Geocaching
            - Hiking
            - Orienteering
            - Personal Fitness
            - Pioneering
            - Signs, Signals, &amp; Codes
            - Search &amp; Rescue
            - Wilderness Survival
    -  icon: fa-bullseye
       title: Shooting Sports
       badges:
            - Archery
            - Rifle Shooting
            - Shotgun Shooting
    -  icon: fa-key
       title: Specialty
       badges:
            - Climbing (offered through Camp Post)
            - Welding
---
<div class="row" style="padding-bottom: 3%;">
    <div class="col-sm-6 col-sm-offset-3">
        <h2 class="gsrtitle3 text-center">Marriott's Program</h2>
        <div class="col-sm-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sollicitudin lectus, sodales posuere odio. Nam vehicula convallis nisi quis dictum. Suspendisse rutrum est nunc, in pharetra leo consectetur ut. Sed congue porttitor fermentum. Curabitur commodo ultricies ligula, a porta nisl imperdiet ut. Donec sit amet nisl at tortor rutrum feugiat. Nullam odio urna, consequat eget nisl et, dignissim aliquet nisi. Duis eleifend dictum sapien non tincidunt. </p>
        </div>
        <div class="col-sm-4" style="background-image: url('/assets/MAR02.jpg'); min-height: 300px; background-size: cover; background-position: center center;">
        </div>
    </div>
</div>
{% include meritbadges.html %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">More About Program</h2>
        <h3>2016 Certifications and Trainings Offered</h3>
        <p><strong>Aquatics:</strong> Aquatics Supervision: Paddle Craft Safety Certification, Aquatics Supervision: Swimming &amp; Water Rescue Certification, Safe Swim Defense, and Safety Afloat</p>
        <p><strong>Scoutcraft:</strong> Leave No Trace Awareness Training and Trek Safely Certification</p>
        <p>Camp Marriott also helps facilitate adult leader trainings provided by the NCAC Training Committee at Goshen Scout Reservation. We will be provided with a schedule of trainings per week and that schedule will be posted on the Administration Building’s bulletin board.</p>
        <h3>2016 Troop Activities</h3>
        <p>Pirate’s Breakfast – Take your breakfast onto the lake using canoes and row boats to watch a beautiful sunrise over the mountains of Goshen Scout Reservation.
    Polar Bear Swim – Want to take the Polar Plunge?? You can at Camp Marriott!! Have an early morning troop swim in the beginners area and have breakfast on our beach!
    Troop Shoot – Want to have a troop shooting competition? Organize your own at Camp Marriott with the help of our Shooting Sports staff!!
    Flag Retreat – Form a Color Guard and have your Troop lower the flags one evening at retreat. To sign up see the front office at Camp!
    Flag Raising – Since we do not have a morning Flags ceremony, your unit can sign up in the Camp Marriott front office to raise the flags in the morning!
    Hike to Viewing Rock – Curious to see what Goshen Scout Reservation looks like from a bird’s eye view? You can enjoy the view from Viewing Rock located above Goshen Scout Reservation. Camp Marriott can help your troop plan a hike to this great lookout!
    Perform a Troop Service Project – Want to give back to Camp Marriott? You can. Inquire about service project opportunities with our Commissioners to give back to Beautiful Camp Marriott and earn recognition towards the OAR!!!
    Closing Campfire Skit or Song – Interested in performing a song or a skit at the closing campfire? You can sign up in the front office at camp! All songs and skits must adhere to the Scout Law and Scout Oath. A screening will be done to ensure appropriateness.</p>
    </div>
</div>
{% include olderScoutSection.html%}
<div class="row">
</div>
