.gsr-navbar {
  position: relative;
  height: 60px;
  margin-top: 40px;
  background: linear-gradient(to right, #16213E, #3e5daf); }
  .gsr-navbar #gsr-nav {
    list-style: none;
    text-align: center;
    margin: 0; }
    .gsr-navbar #gsr-nav li {
      display: inline-block;
      line-height: 60px;
      vertical-align: middle; }
    .gsr-navbar #gsr-nav a {
      display: block;
      height: 100%;
      font-family: 'Palanquin',sans-serif;
      font-size: 1.5em;
      color: #fff;
      padding: 0 10px;
      margin: 0 10px;
      transition: all 0.3s ease-in-out; }
      .gsr-navbar #gsr-nav a:active, .gsr-navbar #gsr-nav a:hover, .gsr-navbar #gsr-nav a:focus {
        text-decoration: none;
        color: #8197d2;
        transition: all 0.3s ease-out-in; }
  .gsr-navbar .logo {
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 0px; }
  .gsr-navbar .dropdown .dropdown-menu {
    transition: all 0.3s;
    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0; }
  .gsr-navbar .dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1; }
  .gsr-navbar .dropdown-menu {
    background-color: rgba(22, 33, 62, 0.8);
    border-radius: none; }
    .gsr-navbar .dropdown-menu li {
      line-height: 40px; }
      .gsr-navbar .dropdown-menu li a {
        color: #fff;
        display: block;
        height: 100%; }
        .gsr-navbar .dropdown-menu li a:hover, .gsr-navbar .dropdown-menu li a:focus {
          color: #8197d2;
          background-color: transparent; }
  .gsr-navbar .multi-dropdown {
    width: 43%; }
    .gsr-navbar .multi-dropdown ul {
      padding: 0; }
      .gsr-navbar .multi-dropdown ul li {
        white-space: nowrap; }

.gsrMainTitle {
  font-size: 64px;
  line-height: 70px;
  font-family: "Palanquin Dark",sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: 10% 0 0; }

#gsrTitle {
  font-size: 64px;
  line-height: 70px;
  font-family: 'Palanquin Dark', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  margin: .95em 0 0; }

#gsrSubtitle {
  font-family: 'Palanquin', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #fff; }

@media screen and (max-width: 991px) {
  #gsrTitle {
    font-size: 34px;
    line-height: 40px;
    margin-top: .3em; }
  #gsrSubtitle {
    font-size: 22px; } }

@media screen and (min-width: 768px) {
  #frontRow {
    margin-top: -23%; } }

.boxThing, .pictureThing {
  height: 250px;
  padding: 10px; }

.boxThing .subThing {
  background-color: #444D65;
  color: #fff;
  padding: 3%;
  height: 100%;
  width: 100%; }

.pictureThing .subThing {
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%; }

@media screen and (max-width: 767px) {
  .boxThing {
    height: 200px;
    padding: 0; }
  .pictureThing {
    height: 150px;
    padding: 0; } }

a.ghastly-button {
  display: inline-block;
  width: 100px;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  background-color: transparent;
  z-index: 950;
  font-size: 1em;
  font-family: 'Palanquin', sans-serif;
  font-weight: 700; }

a.ghastly-button:hover, a.haunter-button:active {
  background-color: #fff;
  color: #2F384C;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

a.haunter-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  margin-bottom: 15px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 2px;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  background-color: transparent;
  z-index: 950;
  font-size: 1.25em;
  font-family: 'Palanquin', sans-serif;
  font-weight: 700; }

a.haunter-button:hover, a.haunter-button:active {
  background-color: #fff;
  color: #2F384C;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

h2 {
  font-family: 'Palanquin', sans-serif; }

.gsrtitle::after {
  content: '';
  width: 45px;
  height: 2px;
  background-color: #2F384C;
  display: block;
  margin-top: 24px; }

.gsrtitle2::after {
  content: '';
  width: 45px;
  height: 2px;
  background-color: #2F384C;
  display: block;
  margin-top: 36px;
  margin-left: 60px; }

.gsrtitle3::after {
  content: '';
  width: 45px;
  height: 2px;
  background-color: #2F384C;
  display: block;
  margin: 20px auto; }

.gsrtitle4::after {
  content: '';
  width: 45px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 20px auto; }

.gsrContents {
  list-style: none;
  border-left: 4px solid #6B482B;
  margin: 10px 0 25px 0;
  padding-left: 10px; }

.gsrContents li {
  margin-bottom: 10px; }

.gsrContents a {
  font-size: 1.2em;
  color: #fff; }
