---
layout: page
title: Latest News
theme: basic
image: /assets/hero_news.jpg
imagePosition: center center
---  
    <section class="row scheme1">
        <div class="col-md-8 col-md-offset-2">
        {% for post in site.posts %}
        {% if forloop.first == true %}
            <h2 class="gsrtitleC text-center">Recent News</h2>
            <h3>{{post.title}}</h3>
            <p class="highlight1"><time datetime="{{post.date | date_to_xmlschema}}">{{post.date | date:"%m.%d.%Y"}}</time></p>
            {{post.excerpt}}
            <p>{{post.category}}</p>
            <p><a href="{{post.url}}" class="ghastly-button text-center">Read More</a></p>
        </div>
    </section>
    <section class="row scheme2">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="gsrtitleC text-center">Other News</h2>
    {% else %}
            <div class="col-md-4">
                <h3>{{post.title}}</h3>
                <p class="highlight1"><time datetime="{{post.date | date_to_xmlschema}}">{{post.date | date:"%m.%d.%Y"}}</time></p>
                {{post.excerpt}}
                <p><a href="{{post.url}}" class="ghastly-button text-center">Read More</a></p>
            </div>
    {% endif %}
    {% endfor %}
        </div>
    </section>