.pictureDivider {
    background-size: cover;
    height: 150px;
}

@mixin compLineDiv($comp-border, $comp-padding) {
    border-bottom: $comp-border; 
    padding-bottom: $comp-padding;
}
.comparisonHeader {
    padding: 5%;
}
.comparisonHeader h4, .comparisonHeader h3 {
    text-align: center;
}
.comparisonImage {
    background-size: cover;
    background-position: center center;
    height: 200px;
}
.comparisonBody {
    background-color: #0e0e0e;
    color: #fff;
    text-align: center;
    padding: 5% 10%;
    margin-bottom: 25px;
}
.comparisonBody img {
    width: 25%;
    height: auto;
    margin: 15px 0;
}
.comparisonBody p {
    @include compLineDiv(1px ridge rgba(0,0,0,0.25), 3%)
    text-align: left;
}
.comparisonBody p:first-child {
    border-top: 1px inset rgba(0,0,0,0.25);
    padding-top: 3%;
}
.comparisonBody p:nth-last-child(2) {
    border: none;
}
.comparisonBody p:last-child {
    border: none;
    padding: 0;
    text-align: center;
}