$primaryFontcolor: #fff;
$secondaryFontcolor: #0e0e0e;

//Base Theme
$primaryBGcolor-base: #3A5A5B;
$primaryBGcolorlight-base: #CFD6D6;
$secondaryBGcolor-base: #444D65;
$primaryFontcolor-base: #212C48;
$secondaryFontcolor-base: #1A3F40;

//Olmsted Theme
$primaryBGcolor-OLM: #FFCC11;
$primaryBGcolorlight-OLM: #EEE8AA;
$secondaryBGcolor-OLM: #FFF;
$tertiaryBGcolor-OLM: #0e0e0e;
$tertiaryBGcolorlight-OLM: #D3CFC6;
$primaryFontcolor-OLM: #FFCC11;

//Marriott Theme
$primaryBGcolor-MAR: #9d102d;
$secondaryBGcolor-MAR: #6C193F;
$tertiaryBGcolor-MAR: #d21034;
$quaternaryBGcolor-MAR: #d60077;
$quinaryBGcolor-MAR: #ff5c00;
$senaryBGcolor-MAR: #767a7d;

//PMI Theme
$primaryBGcolor-PMI: #D40006;
$secondaryBGcolor-PMI: #8a5E5F;
$tertiaryBGcolor-PMI: #56292A;
$quarternaryBGcolor-PMI: #BC1F26;
$quinaryBGcolor-PMI: #7E6868;