@mixin gsrnavbg($navbar-background) {
    background: linear-gradient(to right, $navbar-background, lighten($navbar-background,15%));
    #gsrnav a {
        &:active, &:hover, &:focus {
            color: lighten($navbar-background,50%);
        }
    }
    .dropdown-menu {
        background-color: $navbar-background;
        li a {
            &:hover, &:focus {
                color: lighten($navbar-background,50%);
            }
        }
    }
}
@mixin gsrContents($border-color) {
    border-left: 4px solid $border-color;
}
@mixin announceLine($border-color) {
    border-bottom: 1px solid $border-color;
}
@mixin gsrtitleL($bgcolor) {
    content: '';
    width: 45px;
    height: 2px;
    background-color: $bgcolor;
    display: block;
    margin-top: 24px;
}
@mixin gsrtitleC($bgcolor) {
    content: '';
    width: 45px;
    height: 2px;
    background-color: $bgcolor;
    display: block;
    margin: 20px auto;
}
@mixin theme(
    $bgcolor-1,
    $bgcolor-2,
    $bgcolor-3,
    $highcolor-1,
    $highcolor-2,
    $fontcolor-1,
    $fontcolor-2,
    $fontcolor-3,
    $navbarbg
) {
    .scheme1 {
        background-color: $bgcolor-1;
        color: $fontcolor-1;
        .gsrtitleL::after {
            @include gsrtitleL($highcolor-1);
        }
        .gsrtitleC::after, .override.gsrtitleC::after {
            @include gsrtitleC($highcolor-1);
        }
        .gsrContents a {
            color: $highcolor-1;
            &:active, &:hover, &:focus {
                color: $fontcolor-1;
            }
        }
        .gsrFeeTable {color: $fontcolor-1;}
        .gsrFeeTable thead tr {background-color: $highcolor-1; color: $fontcolor-1;}
        .gsrFeeTable tbody tr {border-bottom: 1px solid $highcolor-1;}
    }
    .scheme2 {
        background-color: $bgcolor-2;
        color: $fontcolor-2;
        .gsrtitleL::after {
            @include gsrtitleL($highcolor-2);
        }
        .gsrtitleC::after {
            @include gsrtitleC($highcolor-2);
        }
        .osp-flex-item {
            border-right: 0.5px solid $fontcolor-1;
        }
    }
    .scheme3 {
        background-color: $bgcolor-3;
        color: $fontcolor-3;
        .announcementsTitle {
            border-bottom: 2px solid $highcolor-2;
        }
        .announceDescription {
            @include announceLine($fontcolor-3);
        }
        .gsrtitleL::after {
            @include gsrtitleL($highcolor-2);
        }
        .gsrtitleC::after {
            @include gsrtitleC($highcolor-1);
        }
        .highlight1 {
            color: $highcolor-2;
        }
        .gsrDataTable {color: $fontcolor-3}
        .gsrDataTable thead {background-color: $bgcolor-1; color: $fontcolor-1;}
        .gsrDataTable tr:nth-child(even) {background-color: $bgcolor-2; color: $fontcolor-2;}
        .gsrDataTable a {
            color: inherit;
            &:hover {
                color: $highcolor-2;
            }
        }
    }
    .gsrContents {
        @include gsrContents($fontcolor-1);
    }
    .gsr-nav-main {
        @include gsrnavbg($navbarbg);
        }
    .offcanvas-nav {
        background-color: $navbarbg;
        a {
            &:active, &:hover, &:focus {
            color: lighten($navbarbg,50%);
        }
        }
    }
    .schedTable thead tr td {background-color: $bgcolor-1; color: $fontcolor-1;}
    .schedTable tbody tr td {background-color: $bgcolor-3; color: $fontcolor-3;}
    .highlightbg {background-color: $highcolor-2;}
}



#basic {
    @include theme(
        #3A5A5B, //bgcolor-1
        #CFD6D6, //bgcolor-2
        #819697, //bgcolor-3
        #212C48, //highcolor-1
        #6B482B, //highcolor-2
        #fff, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #0e0e0e, //fontcolor-3
        #1A3F40 //navbarbg
    );
    .scheme4 {
        background-color: #212C48;
        font-color: #fff;
        .gsrtitleL::after {
            @include gsrtitleL(#6B482B);
        }
        .gsrtitleC::after {
            @include gsrtitleC(#6B482B);
        }
    }
    .scheme5 {
        background-color: #fff;
        font-color: #0e0e0e;
        .gsrtitleL::after {
            @include gsrtitleL(#6B482B);
        }
        .gsrtitleC::after {
            @include gsrtitleC(#6B482B);
        }
    }
}
#bowman {
        @include theme(
        #021e14, //bgcolor-1
        #F7E3D9, //bgcolor-2
        #152638, //bgcolor-3
        #ff6415, //highcolor-1
        #587db1, //highcolor-2
        #fff, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #fff, //fontcolor-3
        #000904 //navbarbg
    );
}
#marriott {
    @include theme(
        #560012, //bgcolor-1
        rgb(217,207,192), //bgcolor-2
        #0e0e0e, //bgcolor-3
        #5facf2, //highcolor-1
        #e42027, //highcolor-2
        #fff, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #fff, //fontcolor-3
        #230209 //navbarbg
    );
}
#olmsted {
    @include theme(
        #EEE8AA, //bgcolor-1
        #f1f1f1, //bgcolor-2
        #0e0e0e, //bgcolor-3
        #ffcc11, //highcolor-1
        #ffcc11, //highcolor-2
        #0e0e0e, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #fff, //fontcolor-3
        #5b4907 //navbarbg
    );
}   
#pmi {
    @include theme(
        #0e0e0e, //bgcolor-1
        #fff, //bgcolor-2
        #AC9898, //bgcolor-3
        #D40006, //highcolor-1
        #D40006, //highcolor-2
        #fff, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #0e0e0e, //fontcolor-3
        #1e0001 //navbarbg
    )
}
#ross {
    @include theme(
        #838383, //bgcolor-1
        #fff, //bgcolor-2
        #0e0e0e, //bgcolor-3
        rgb(179,2,37), //highcolor-1
        #2180ac, //highcolor-2
        #0e0e0e, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #fff, //fontcolor-3
        #06141c //navbarbg
    )
}
#lha {
    @include theme(
        #0e0e0e, //bgcolor-1
        #fff, //bgcolor-2
        #AC9898, //bgcolor-3
        #D40006, //highcolor-1
        #D40006, //highcolor-2
        #fff, //fontcolor-1
        #0e0e0e, //fontcolor-2
        #0e0e0e, //fontcolor-3
        #1e0001 //navbarbg
    )
}