html, body {height:100%;}

main .row {padding-bottom: 3%;}

h2 {
    font-family: 'Palanquin Dark', sans-serif !important;
}
h3 {
    font-family: 'Palanquin', sans-serif !important;
}
h4 {
    font-family: 'Palanquin', sans-serif !important;
}

a.ghastly-button {
    display: inline-block;
    width: 100px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    background-color: transparent;
    z-index: 950;
    font-size: 1em;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
}
a.ghastly-button:hover,
a.haunter-button:active {
    background-color: #fff;
    color: #2F384C;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
a.haunter-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    margin-bottom: 15px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    background-color: transparent;
    z-index: 950;
    font-size: 1.25em;
    font-family: 'Palanquin', sans-serif;
    font-weight: 700;
}
a.haunter-button:hover,
a.haunter-button:active {
    background-color: #fff;
    color: #2F384C;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

//title underline series
.gsrtitle::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #2F384C;
    display: block;
    margin-top: 24px;
}
.gsrtitle2::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #2F384C;
    display: block;
    margin-top: 36px;
    margin-left: 60px;
}
.gsrtitle3::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #2F384C;
    display: block;
    margin: 20px auto;
}
.gsrtitle4::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 20px auto;
}

.gsrAbout {
    background-color: $primaryBGcolor;
}

.gsrContents {
    list-style: none;
    border-left: 4px solid $tertiaryFontColor;
    margin: 10px 0 25px 0;
    padding-left: 10px;
}
.gsrContents li {
    margin-bottom: 10px;
}
.gsrContents a {
    font-size: 1.2em;
    color: #0e0e0e;
    line-height: 48px;
}

.gsrPageAnnouncements {
    margin-top: -5%;
    padding: 2%;
    padding-top: 0;
    background-color: $tertiaryBGcolor;
    color: $secondaryFontColor;
}
.AnnouncementsTitle {
    border-bottom: 2px solid $tertiaryFontColor;
}
a.announcementTitle {
    font-size: 14pt;
    color: $secondaryFontColor;
}
.announceDate {
    color: $tertiaryFontColor;
}
.announceDescription {
    border-bottom: 1px solid $secondaryFontColor;
    padding-bottom: 15px;
}