html, body {height:100%;}

main .row {padding-bottom: 3%;}

h2 {
    font-family: 'Palanquin Dark', sans-serif !important;
}
h3 {
    font-family: 'Palanquin', sans-serif !important;
}
h4 {
    font-family: 'Palanquin', sans-serif !important;
}

//title underline series
.gsrtitle::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #2F384C;
    display: block;
    margin-top: 24px;
}
.gsrtitle2::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #2F384C;
    display: block;
    margin-top: 36px;
    margin-left: 60px;
}
.gsrtitle3::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #2F384C;
    display: block;
    margin: 20px auto;
}
.gsrtitle4::after {
    content: '';
    width: 45px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 20px auto;
}

.gsrAbout {
    background-color: $primaryBGcolor;
}
.gsrAbout img { 
    width: 300px;
    max-width: 100%; 
    height: auto; 
    display: block;
}

.gsrContents {
    list-style: none;
    border-left: 4px solid $tertiaryFontColor;
    margin: 10px 0 25px 0;
    padding-left: 10px;
}
.gsrContents li {
    margin-bottom: 10px;
}
.gsrContents a {
    font-size: 1.2em;
    color: #0e0e0e;
    line-height: 48px;
}

.gsrPageAnnouncements {
    margin-top: -6%;
    padding: 2%;
    padding-top: 0;
    background-color: $tertiaryBGcolor;
    color: $secondaryFontColor;
}
.AnnouncementsTitle {
    border-bottom: 2px solid $tertiaryFontColor;
}
a.announcementTitle {
    font-size: 14pt;
    color: $secondaryFontColor;
}
.announceDate {
    color: $tertiaryFontColor;
}
.announceDescription {
    border-bottom: 1px solid $secondaryFontColor;
    padding-bottom: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .CDbio {text-align: left;}
}
