html, body {height:100%;}

main .row {padding-bottom: 3%;}

h2 {
    font-family: 'Palanquin Dark', sans-serif !important;
}
h3 {
    font-family: 'Palanquin', sans-serif !important;
}
h4 {
    font-family: 'Palanquin', sans-serif !important;
}

.anchor-buffer {
    display: block; 
    height: 60px; 
    margin-top: -60px; 
    visibility: hidden;
}
.picture-divider {
    height: 150px;
    background-position: center; 
    background-attachment: fixed; 
    background-size: cover;
}


