// defaults: small screens
.gsrMainTitle {
    font-size: 40px;
    line-height: 70px;
    font-family: "Palanquin Dark",sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 30% 0 0;
}

// Tablets and up: increace font size
@media (min-width: 768px) {
    .gsrMainTitle {
        font-size: 64px;
    }
}

// Medium devices: change margin
@media (min-width: 992px) {
    .gsrMainTitle {
        margin: 15% 0 0;
    }
}