#titleSection {
    margin-top: 15%;
}
@media (max-width: 767px) {
    #titleSection {margin-top: 50%;}
}
#gsrTitle {
    font-size: 64px;
    line-height: 70px;
    font-family: 'Palanquin Dark', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0;
}
#gsrTitle2 {
    font-size: 1em;
}
@media (max-width: 767px) {
    #gsrTitle2 {
        font-size: 0.75em;
    }
}
#gsrSubtitle {
    font-family: 'Palanquin', sans-serif;
    font-size: 32px;
    text-align: center;
    color: #fff;
    line-height: 44px;
}
#gsrSubtitle a {
    color: #fff;
}
@media (max-width: 991px) {
    #gsrTitle {
        font-size: 34px;
        line-height: 40px;
        margin-top: .3em;
    }
    #gsrSubtitle {
        font-size: 22px;
    }
}
@media (min-width: 768px) {
    #frontRow {
        margin-top: -275px;
    }
}
.boxThing,
.pictureThing {
    height: 275px;
    padding: 10px;
}
.boxThing .subThing {
    background-color: #444D65;
    color: #fff;
    padding: 3%;
    height: 100%;
    width: 100%;
}
.pictureThing .subThing {
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}
@media (max-width: 767px) {
    .boxThing {
        height: 200px;
        padding: 0;
    }
    .pictureThing {
        height: 150px;
        padding: 0;
    }
    #attentionBar, #attentionBar>div {
        padding: 0;
    }
}
.homepage-banner {
    background: url('/assets/Hero_Home.jpg'), linear-gradient(0deg, #233427, #d3c5e2),;
    background-position: center top;
    background-size: cover;
    height: 100%;
    position: relative;
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}
@media (max-width: 767px) {
    .homepage-banner {min-height: 450px;}
}
@media (min-width: 768px) {
    .homepage-banner {min-height: 650px}
}
@media (min-width: 992px) {
    .homepage-banner {min-height: 715px;}
}
@media (min-width: 1345px) {
    .homepage-banner {min-height: 940px;}
}