.gsr-navbar {
    position: absolute; 
    height: 60px; 
    margin-top: 40px; 
    background: linear-gradient(to right, $navbar-background, lighten($navbar-background,15%));
    left: 0;
    right:0;
    z-index:1030;    
    #gsr-nav {
        list-style: none;
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            line-height: 60px;
            vertical-align: middle;
        }
        a {
            display: block;
            height: 100%;
            font-family: 'Palanquin',sans-serif;
            font-size: 1.5em;
            color: $navbar-color;
            padding: 0 10px;
            margin: 0 10px;
            transition: all 0.3s ease-in-out;
            &:active , &:hover, &:focus {
                text-decoration: none;
                color: lighten($navbar-background,50%);
                transition: all 0.3s ease-out-in;
            }
        }
    }
    .logo {
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 0px;
    }
    .dropdown .dropdown-menu {
        transition: all 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
        line-height: 40px;
    }
    .dropdown.open .dropdown-menu {
        max-height: 300px;
        opacity: 1;
    }
     .open .caret {
         border-top-width: 0;
         border-bottom: 4px solid $navbar-color;
     }
    .dropdown-menu {
        background-color: $navbar-background;
        border-radius: none;
        li {
            line-height: 40px !important;
            a {
                color: $navbar-color;
                display: block;
                height: 100%;
                &:hover, &:focus {
                    color: lighten($navbar-background,50%);
                    background-color: transparent;
                }
            }
        }
    }

    .multi-dropdown {
        width: 43%;
        ul {
            padding: 0;
            li {
                white-space: nowrap;
            }
        }
    }
}
 .gsr-fixed-nav {
        position: fixed;
        margin-top: 0;
    }