.gsr-navbar {
    position: relative; 
    height: 60px; 
    margin-top: 75px; 
    background: linear-gradient(to right, #16213E, #8597C5);
    #gsr-nav {
        list-style: none;
        text-align: center;
        margin: 0;
        li {
            display: inline-block;
            line-height: 60px;
            vertical-align: middle;
        }
        a {
            font-family: 'Palanquin',sans-serif;
            font-size: 1.5em;
            color: #fff;
            padding: 0 10px;
            margin: 0 10px;
            transition: all 0.3s ease-in-out;
            &:active , &:hover, &:focus {
                text-decoration: none;
                color: #9298A7;
                transition: all 0.3s ease-out-in;
            }
        }
    }
    .dropdown .dropdown-menu {
        transition: all 0.3s;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
    }
    .dropdown.open .dropdown-menu {
        max-height: 300px;
        opacity: 1;
    }
    .open .caret {
        border-top-width: 0;
        border-bottom: 4px solid #fff;
    }
    .dropdown-menu {
        background-color: #444D65;
        border-radius: none;
        li {
            line-height: 40px;
            a {
                color: #fff;
                &:hover, &:focus {
                    color: #9298A7;
                    background-color: transparent;
                }
            }
        }
    }

    .multi-dropdown {
        width: 43%;
        ul {
            padding: 0;
            li {
                white-space: nowrap;
            }
        }

    }
}