.gsrAbout img { 
    width: 300px;
    max-width: 100%; 
    height: auto; 
    display: block;
}

.gsrContents {
    list-style: none;
    margin: 10px 0 25px 0;
    padding-left: 10px;
}
.gsrContents li {
    margin-bottom: 10px;
}
.gsrContents a {
    font-size: 1.2em;
    line-height: 48px;
    font-weight: 550;
}

.gsrPageAnnouncements {
    margin-top: -6%;
    padding: 2%;
    padding-top: 0;
}
.announceDescription {
    padding-bottom: 15px;
}
a.announcementTitle {
    color: inherit;
}

@media (min-width: 768px) and (max-width: 991px) {
    .CDbio {text-align: left;}
}
@media (min-width: 1500px) {
    #staff-pic {
        margin-top: -74px;
    }
}
.transport-section {
    background-size: cover; 
    background-position: center center;
}
.transport-section-inner {
   margin-top: 50px;
   margin-bottom: 50px;
}
@media (max-width: 767px) {
    .transport-section {
        background: none !important;
    }
    .transport-section-inner {
        margin-top: 0;
        margin-bottom: 0;
    }
}