.schedTable {border-collapse: separate; border-spacing: 2px; text-align: center; margin: 15px 0; width: 100%;}
.schedTable thead tr td {padding: 10px;}
.schedTable tbody tr td {border-color: transparent; padding: 10px;}
.schedTable, .schedTable tr, .schedTable td {display: block;}
.schedTable thead, .schedTable tbody {display: inline-block;}
.schedTable td {margin-bottom: 2px; height: 60px; vertical-align: middle;}

.mainSchedTable {border-collapse: separate; border-spacing: 2px; width: 100%; display: table; text-align: center; margin-top: 15px;}
.mainSchedTable thead {display: table-header-group;}
.mainSchedTable thead tr td, .mainSchedTable thead tr th {height: 30px;}
.mainSchedTable tbody tr td, .mainSchedTable tbody tr th {height: 60px;}
.mainSchedTable thead tr td {background-color: #3A5A5B; color: #fff; vertical-align: middle; font-family: 'Palanquin', sans-serif; font-size: 1.25em; text-align: center; width: 15%; padding: 10px;}
.mainSchedTable tbody tr th, .mainSchedTable thead tr th {background-color: #3A5A5B; color: #fff; vertical-align: middle; font-family: 'Palanquin', sans-serif; font-size: 1.25em; text-align: left; padding: 10px;}
.mainSchedTable tbody tr td {background-color: #CFD6D6; text-align: center; vertical-align: middle;}
.mainSchedTable th, .mainSchedTable td {padding: 10px;}

.mainSchedTableHeader {
    
}

.schedTableMain {
    border-collapse: separate; border-spacing: 2px; width: 100%; display: flex; text-align: center; margin-top: 15px;
    tr {
        display: flex;
        flex-direction: column;
    }
    td, th {
        display: block;
    }
    thead {
        display: flex;
        tr td {
            background-color: #3A5A5B; color: #fff; vertical-align: middle; font-family: 'Palanquin', sans-serif; font-size: 1.25em; text-align: center; width: 15%; padding: 10px;
        }
        tr td, tr th {
            height: 30px;
        }
    }
    tbody {
        display: flex; position: relative;
        tr td {
            background-color: #CFD6D6; text-align: center; vertical-align: middle;
        }
        tr td, tr th {
            height: 60px;
        }
    }
    tbody tr th, thead tr th {
        background-color: #3A5A5B; color: #fff; vertical-align: middle; font-family: 'Palanquin', sans-serif; font-size: 1.25em; text-align: left; padding: 10px;
    }
}

.gsrTable-dark {width: 100%; margin-bottom: 25px; display: table;}
.gsrTable-dark thead tr, .gsrTable-dark tbody tr {height: 44px;}
.gsrTable-dark tbody tr:nth-child(even) {background-color: #CFD6D6; color: #0e0e0e;}
.gsrTable-dark thead tr {background-color: #1A3F40; color: #fff; text-align: center; font-family: 'Palanquin', sans-serif; font-size: 1.25em;}
.gsrTable-dark tbody tr th, .gsrTable-dark thead tr th {text-align: left; font-weight: 400;}
.gsrTable-dark tbody tr td {text-align: center;}
.gsrTable-dark thead tr th, .gsrTable-dark thead tr td, .gsrTable-dark tbody tr th, .gsrTable-dark tbody tr td {padding: 10px;}


.gsrDataTable {width: 100%; display: table; margin-bottom: 25px;}
.gsrDataTable thead tr td {font-family: 'Palanquin', sans-serif; font-size: 1.25em; padding: 10px;}
.gsrDataTable tbody tr td {height: 50px; padding: 10px;}

.gsrTable-solid {width: 100%; border-collapse: separate; border-spacing: 2px;}
.gsrTable-solid tbody tr td {text-align: center; padding: 10px;}

.gsrFeeTable {width: 100%; display: table; margin: 25px 0;}
.gsrFeeTable thead {font-family: 'Palanquin', sans-serif; font-size: 1.25em;}
.gsrFeeTable td {padding: 10px; text-align: center;}

