<div class="row gsrAbout">
    <div class="col-sm-7 col-md-9" style="padding-left: 10%;">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6 gsrtitle">
            <h2>About {{page.title}}</h2>
        </div>
        <div class="col-sm-6">
            <img style="margin: 25px 0 0 20%; width: 53.4%; max-width: 100%; height: auto; display: block;" src="{{page.aboutImage}}" />
        </div>
        <div class="col-sm-6">
            <h3 class="gsrtitle" style="width: 88%; margin-top: 18px; line-height: 1.2em;">{{page.tagline}}</h3>
            <p>{{page.aboutText}}</p>
            <h3>Contents</h3>
            <ul class="gsrContents">
                <li><a href="#">Sample Link</a></li>
            </ul>
            <p class="gsrtitle"></p>
            <h3 style="width: 88%; margin-top: 18px;; line-height: 1.2em;">{{page.CTA}}</h3>
        </div>
    </div>
    <div class="col-sm-5 col-md-3 gsrPageAnnouncements">
        <h2 class="announcementsTitle">Latest News</h2>
        <h3>Sample Announcement 1</h3>
        <p class="announceDate">09.20.2016</p>
        <p class="announceDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sollicitudin lectus, sodales posuere odio.</p>
        <h3>Sample Announcement 1</h3>
        <p class="announceDate">09.20.2016</p>
        <p class="announceDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sollicitudin lectus, sodales posuere odio.</p>
        <h3>Sample Announcement 1</h3>
        <p class="announceDate">09.20.2016</p>
        <p class="announceDescription">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut sollicitudin lectus, sodales posuere odio.</p>
    </div>
</div>