<div class="row">
    <div class="col-sm-3" style="padding: 3%;">
        <div class="col-xs-12" style="background-color: #EEE8AA; text-align: center;">
            <h2 class="gsrtitle3">Meet Your<br/>2016 Camp Director</h2>
            <img src="{{page.campDirectorPicture}}" class="img-responsive img-circle" style="width: 75%; margin: 15px auto; display: block;" />
            <h3>{{page.campDirectorName}}</h3>
            <p>{{page.campDirectorBio}}</p>
        </div>
    </div>
    <div class="col-sm-9" style="padding: 3%;">
        <div class="col-sm-5">
            <h1 class="gsrtitle" style="font-family: 'Palanquin Dark', sans-serif;">Contact Us</h1>
            <p><b>Email:</b> <a href="mailto: {{page.campEmail}}">{{page.campEmail}}</a></p>
            <p><b>Phone (summer only):</b> {{page.campPhone}}</p>
            <h2 class="gsrtitle" style="margin-top: 50px;">Find us on Social Media</h2>
            <p><b>Facebook:</b> <a href="{{page.campFacebook}}">{{page.campFacebook}}</a></p> 
            <h2 class="gsrtitle" style="margin-top: 50px;">Sending Mail</h2>
            <p>To send mail to a camper, please use the following format:</p>
            <p>Recipient’s name, {{page.unitTypes}} #<br/>
            {{page.campName}}<br/>
            Goshen Scout Reservation<br/>
            340 Millard Burke Memorial Hwy<br/>
            Goshen, VA 24439
        </div>
        <div class="col-sm-7 text-center">
            <img src="{{page.campContactPicture}}" class="img-responsive" style="margin: 0 auto;">
        </div>
    </div>
</div>