<span class="anchor-buffer" id="downloads"></span>
<section class="row scheme3">
    <div class="col-md-8 col-md-offset-2">
        <h2 class="gsrtitleC text-center">Forms &amp; Downloads</h2>
        <div class="col-md-6">
            <table class="gsrDataTable">
                <thead>
                    <tr>
                        <td>File Section #1</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/assets/marriott-files/2015MarriottMap.pdf">2015 Marriott Map</a> [PDF] (1.09MB)</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/assets/marriott-files/2015MarriottMap.pdf">2015 Marriott Map</a> [PDF] (1.09MB)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="gsrDataTable">
                <thead>
                    <tr>
                        <td>File Section #2</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/assets/marriott-files/2015MarriottMap.pdf">2015 Marriott Map</a> [PDF] (1.09MB)</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <a href="/assets/marriott-files/2015MarriottMap.pdf">2015 Marriott Map</a> [PDF] (1.09MB)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>