<footer class="container-fluid">
  <div class="row" style="background-color: #0e0e0e; color: #fff;">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4" style="padding: 0 5% 0 3%;">
        <h3 class="gsrtitle">About Us</h3>
        <p style="text-align: left;">Goshen Scout Reservation, a fully accredited camp, is the home of three resident Boy Scout camps, two resident Webelos camps, and the Lenhok’sin High Adventure Base, all centrally located around beautiful, 450 acre, Lake Merriweather.</p>
      </div>
      <div class="col-md-4" style="padding: 0;">
        <h3 class="gsrtitle">Contact Us</h3>
        <div class="col-md-6" style="padding: 0;">
          <h4 style="margin-top: 0;">Program</h4>
          <p>Phil Barbash<br/>Goshen Reservation Director</p>
          <a href="mailto: Philip.Barbash@Scouting.org">Philip.Barbash@Scouting.org</a>
          <p>(301) 214-9195</p>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <h4 style="margin-top: 0;">Registration</h4>
          <p>Calicoe Ashley<br/>Goshen Camping Administrator</p>
          <a href="mailto: Calicoe.Ashley@Scouting.org">Calicoe.Ashley@Scouting.org</a>
          <p>(301) 214-9155</p>
        </div>
      </div>
      <div class="col-md-4">
        <form style="margin-top: 50px; padding: 0 3%;">
          <p style="position: relative;">
            <input type="s" value="" name="s" placeholder="Search" type="text" style="line-height: 27px; width: 100%; border: none; outline: none; display: inline-block; color: #595649;">
            <input type="submit" value="&#xf002;" style="text-indent: -2000px; overflow: hidden; display: block; width: 28px; height: 28px; position: absolute; top: 0; right: 0; cursor: pointer; font-family: 'FontAwesome';">
          </p>
        </form>
      </div>
    </div>
  </div>
  <div class="row" style="background-color: #0e0e0e; color: #fff;">
    <div class="col-md-8 col-md-offset-2">
      <a class="ghastly-button text-center" style="margin: 2% 3.5%; width: auto;" href="/about.html">Learn More</a>
      <a class="ghastly-button text-center" style="margin: 2% 3.5%; width: auto;" href="/transportation.html">Get Directions</a>
      <a class="ghastly-button text-center" style="margin: 2% 3.5%; width: auto;" href="#">Sign up for our Newsletter</a>
      <a class="ghastly-button text-center" style="margin: 2% 3.5%; width: auto;" href="/registration.html">Register</a>
    </div>
  </div>
  <div class="row" style="height: 30px; background-color: #D3CFC6;">
    Copyright information goes here
  </div>
</footer>