<div id="attentionBar" class="row scheme1">
    <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div id="frontRow" style="text-align: center;">
            <div class="col-sm-6 col-md-3 boxThing">
                <div class="subThing">
                    <h2>{{page.block1-title}}</h2>
                    <p>{{page.block1-content}}</p>
                    <p>
                        <a class="ghastly-button" href="{{page.block1-link}}">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 pictureThing">
                <div class="subThing" style="background-image: url('{{page.picture-block1}}');">
                </div>
            </div>
            <div class="col-sm-6 col-sm-push-6 col-md-3 col-md-push-0 boxThing">
                <div class="subThing">
                    <h2>{{page.block2-title}}</h2>
                    <p>{{page.block2-content}}</p>
                    <p>
                        <a class="ghastly-button" href="{{page.block2-link}}">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-md-3 col-md-pull-0 pictureThing">
                <div class="subThing" style="background-image: url('{{page.picture-block2}}');">
                </div>
            </div>
        </div>
        <div id="backRow" style="text-align: center;">
            <div class="col-sm-6 col-md-3 col-md-push-3 boxThing">
                <div class="subThing">
                    <h2>{{page.block3-title}}</h2>
                    <p>{{page.block3-content}}</p>
                    <p>
                        <a class="ghastly-button" href="{{page.block3-link}}">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-md-pull-3 pictureThing ">
                <div class="subThing" style="background-image: url('{{page.picture-block3}}');">
                </div>
            </div>
            <div class="col-sm-6 col-sm-push-6 col-md-3 col-md-push-3 boxThing">
                <div class="subThing">
                    <h2>{{page.block4-title}}</h2>
                    <p>{{page.block4-content}}</p>
                    <p>
                        <a class="ghastly-button" href="{{page.block4-link}}">Learn More</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6 col-md-3 col-md-pull-3 pictureThing">
                <div class="subThing" style="background-image: url('{{page.picture-block4}}');">
                </div>
            </div>
        </div>
    </div>
</div>