<div class="row" style="background-image: url('/assets/bg_OLM.jpg'); background-position: center bottom; background-size: cover;">
    <div class="col-sm-8 col-sm-offset-2" style="padding: 50px 0;">
        {% for area in page.programAreas %}
        <div class="col-sm-3" style="padding: 15px;">
            <div class="col-xs-12"  style="background-color: #fff;">
                <h3 style="text-align: center;">{{area.title}}</h3>
                <ul>
                    {% for badge in area.badges %}<li>{{badge}}</li>{% endfor %}
                </ul>				
            </div>
        </div>
        {% endfor %}
    </div>
</div>