<nav class="row gsr-navbar">
  <div id="gsr-nav-collapse" style="display: block;">
    <ul id="gsr-nav" style="margin-left: -2%;">
      <li><a href="/">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Camps &amp; Programs <span class="caret"></span></a>
        <ul class="dropdown-menu" style="width: 350px;">
          <li class="multi-dropdown">
            <ul>
              {% for camp in site.camps %}
              <li><a href="{{camp.url}}">{{camp.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li class="multi-dropdown">
            <ul>
              {% for program in site.programs %}
              <li><a href="{{program.url}}">{{program.title}}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </li>
      <li style="width: 10%;"></li>
      <li><a href="/registration.html">Registration</a></li>
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for item in site.information %}
          <li><a href="{{item.url}}">{{item.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
        <ul class="dropdown-menu">
          {% for events in site.events %}
          <li><a href="{{events.url}}">{{events.title}}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="ghostHamburger">
      <button type="button" class="navbar-toggle" data-toggle="collapse" aria-expanded="false" data-target="#ghostNav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
</nav>