<div id="ospSection" class="row scheme2" style="padding: 40px;">
    <div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 osp-flex-container">
        <div class="osp-flex-item scheme1">
            <div class="osp-flip-img" style="background-image: url('/assets/atv01.jpg'); background-size: cover; background-position: center center; height: 250px; min-width: 100%; margin: 25px -15px 0 -15px;"></div>
            <p class="override gsrtitleC"></p>
            <h3 class="text-center">ATV Program</h3>
            <p class="override gsrtitleC text-center">Come ride ATVs (All Terrain Vehicles) this summer at Goshen Scout Reservation!</p>
            <p>The program runs from 2:00pm – 8:00pm Monday through Thursday. Dinner is provided. Scouts complete a safety course before embarking on a week of excellent fun and adventure, involving circuit courses, mud pits, and trail riding.</p>
            <p>Riders must be at least 16 years old on the first day of the program. It is recommended that they be strong enough to handle a 300-600 pound machine.</p>
            <p>This program has additional fees. Please see Camp Costs on our Register page.</p>
            <p><b>Required equipment:</b></p>
            <ul>
                <li>Long sleeve shirts</li>
                <li>Pants that cover the shins</li>
                <li>Boots that cover the ankles</li>
                <li>Water bottle</li>
            </ul>
            <p><b>Recommended equipment:</b></p>
            <ul>
                <li>Bandana</li>
            </ul>
            <p>Gloves, goggles, and helmets will be provided but participants are free to bring their own.</p>
        </div>
        <div class="osp-flex-item scheme1">
            <h2 class="override gsrtitleC text-center">Older Scout Activities</h2>
            <p style="margin-bottom: 50px;">In addition to the Older Scout Program offered by this camp, older Scouts also have the opportunity to participate in three programs offered by Camp Post.</p>
            <div style="background-image: url('/assets/climb01.jpg'); background-size: cover; background-position: center center; height: 250px; min-width: 100%; margin: 0 -15px 25px -15px;"></div>
            <p class="override gsrtitleC"></p>
            <h3 class="text-center">Climbing Program</h3>
            <p class="override gsrtitleC text-center">The Goshen Climbing Program centers around our 60-foot tall climbing and rappelling tower.</p>
            <p>During the day, we offer four sections of Climbing Merit Badge – 9:00am, 10:30am, 2:00pm, and 3:30pm. All sections are 1 hour and 20 minutes. Climbing Merit Badge is recommended for those ages 13 and above.</p>
            <p>On select evenings, the tower is opened up for Open Climb. All ages are welcome, as long as you fit in a harness!</p>
            <p><b>Recommended equipment:</b></p>
            <ul>
                <li>Sneakers</li>
                <li>Water bottle</li>
            </ul>
            
        </div>
        <div class="osp-flex-item scheme1">
            <div class="osp-flip-img" style="background-image: url('/assets/cope01.jpg'); background-size: cover; background-position: center center; height: 250px; min-width: 100%; margin: 25px -15px 0 -15px;"></div>
            <p class="override gsrtitleC"></p>
            <h3 class="text-center">Project COPE</h3>
            <p class="override gsrtitleC text-center">COPE is an acronym for Challenging Outdoor Personal Experience.</p>
            <p>COPE is an acronym for Challenging Outdoor Personal Experience. The program is a series of initiative games, trust events, low elements, and high elements that challenge on an individual and group level. The concept of “challenge by choice” encourages each person to participate fully while maintaining the right to opt-out of an individual part of the program.</p>
            <p>The program is designed for older Scouts (ages 14 and up) and Venturers. COPE is offered Monday through Friday at two times – from 9:00am to 11:50am and from 2:00pm to 4:50pm.</p>
            <p><b>Recommended equipment:</b></p>
            <ul>
                <li>Sneakers</li>
                <li>Water bottle</li>
            </ul>
        </div>
    </div>
</div>