<div class="row" id="registration" style="padding-bottom: 0;">
    <div class="reg-flex-container">
        <div class="reg-flex-item scheme2">
            <div class="col-sm-8 col-md-offset-4 col-sm-offset-2">
                <h2 class="gsrtitleL">2017 Summer Schedule</h2>
                {% assign availability = site.data.availability | where:"camp",page.campName %}
                <table class="schedTable">
                    <thead>
                        <tr>
                            {% for week in availability %}
                            <td>{{week.title}}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for week in availability %}{% if week.status contains "Open" or "open" %}
                            <td class="availability-open">{{week.dates}}<br>{{week.status}}</td>
                            {% elsif week.status contains "Closed" or "closed" %}
                            <td class="availability-closed">{{week.dates}}<br>{{week.status}}</td>
                            {% elsif week.status contains "Filling" or "filling" %}
                            <td class="availability-filling">{{week.dates}}<br>{{week.status}}</td>
                            {% else %}
                            <td class="availability-unknown">{{week.dates}}<br>{{week.status}}</td>
                            {% endif %}{% endfor %}
                        </tr>
                    </tbody>
                </table>
                <p>Availability indicates if new units are able to register for a specific week of camp. If your unit has already reserved a week at camp then your Goshen coordinator will be able to add campers as space allows.</p>
            </div>
        </div>
        <div class="reg-flex-item scheme1">
            <div class="col-sm-8 col-md-offset-0 col-sm-offset-2" style="padding: 10px 15px;">
                <h2 class="gsrtitleL">Registration Information</h2>
                <table class="gsrFeeTable">
                    <thead>
                        <tr>
                            <td>Payment</td>
                            <td>Due Date</td>
                            <td>Fees</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Early Bird</td>
                            <td>April 15</td>
                            <td>Youth: $360<br>Adult: $225</td>
                        </tr>
                        <tr>
                            <td>Regular</td>
                            <td>May 20</td>
                            <td>Youth: $400<br>Adult: $265</td>
                        </tr>
                        <tr>
                            <td>At Camp</td>
                            <td>After May 20</td>
                            <td>Youth: $440<br>Adult: $305</td>
                        </tr>
                    </tbody>
                </table>
                <p>*All units will receive <b>two free adult leaders</b> per unit!</p>
                <p><b>Early Bird Special!</b> All who pay in full by the Early Bird Deadline will be eligible for the 2016 Goshen hat!</p>
                <p>For more information about registration, including quick facts, add-on program fees, the Goshen refund policy, and camperships, please visit our Registration Page.</p>
                <p class="text-center"><a class="cubone-button text-center highlight1"  href="/registration.html">Learn More</a></p>
            </div>
        </div>
    </div>
</div>