<div class="row" style="padding-bottom: 0;">
    <div class="col-md-6 scheme2">
        <div class="col-md-8 col-md-offset-4">
            <h2 class="gsrtitleL">2017 Summer Schedule</h2>
            <table class="schedTable">
                <thead>
                    <tr>
                        <td>Week 1</td>
                        <td>Week 2</td>
                        <td>Week 3</td>
                        <td>Week 4</td>
                        <td>Week 5</td>
                        <td>Week 6</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>6/26-7/2<br>Open</td>
                        <td>7/3-7/9<br>Open</td>
                        <td>7/10-7/16<br>Open</td>
                        <td>7/17-7/23<br>Open</td>
                        <td>7/24-7-30<br>Open</td>
                        <td>week 6 dates<br>Open</td>
                    </tr>
                </tbody>
            </table>
            <p>Availability indicates if new units are able to register for a specific week of camp. If your unit has already reserved a week at camp then your Goshen coordinator will be able to add campers as space allows.</p>
        </div>
    </div>
    <div class="col-md-6 scheme1">
        <div class="col-md-8">
            <h2 class="gsrtitleL">Registration Information</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td>Payment</td>
                        <td>Due Date</td>
                        <td>Fees</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Early Bird</td>
                        <td>April 15</td>
                        <td>Youth: $360<br>Adult: $225</td>
                    </tr>
                    <tr>
                        <td>Regular</td>
                        <td>May 20</td>
                        <td>Youth: $400<br>Adult: $265</td>
                    </tr>
                    <tr>
                        <td>At Camp</td>
                        <td>After May 20</td>
                        <td>Youth: $440<br>Adult: $305</td>
                    </tr>
                </tbody>
            </table>
            <p><b>Early Bird Special!</b> All who pay in full by the Early Bird Deadline will be eligible for the 2016 Goshen hat!</p>
            <h3>Camperships</h3>
            <p>Camperships are available for the 2016 Summer Season! For more information, click the link below.</p>
            <h3>Questions?</h3>
            <p>For more information about registration, including some tips and tricks for the registration process and information about camperships, please visit the:</p>
            <p><a class="haunter-button" target="_blank" href="http://www.ncacbsa.org/outdoors/goshen-camps/register/">Goshen Registration page</a></p>
        </div>
    </div>
</div>