<span class="anchor-buffer" id="registration"></span>
<section class="row" style="padding-bottom: 0;">
    <div class="reg-flex-container">
        <div class="reg-flex-item scheme2">
            <div class="col-sm-8 col-md-offset-4 col-sm-offset-2">
                <h2 class="gsrtitleL">2017 Summer Schedule</h2>
                {% assign camps = site.data.schedule | where:"Id",page.campId %}
                {% assign camp = camps[0] %}
                <table class="schedTable">
                    <thead>
                        <tr>
                            {% for week in camp.Weeks %}
                            {% if page.week == nil or page.week == forloop.index + 1 %}
                            <td>Week {{ forloop.index }}
                                {% if week.title != null %}
                                <br>{{week.title}}
                                {% endif %}
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for week in camp.Weeks %}
                            {% if page.week == nil or page.week == forloop.index + 1 %}
                            <td>{{week.dates}}<br/>
                                {{week.avail}}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
                <p>Availability indicates if new units are able to register for a specific week of camp. If your unit has already reserved a week at camp then your Goshen coordinator will be able to add campers as space allows.</p>
            </div>
        </div>
        <div class="reg-flex-item scheme1">
            <div class="col-sm-8 col-md-offset-0 col-sm-offset-2" style="padding: 10px 15px;">
                <h2 class="gsrtitleL">Registration Information</h2>
                {% include feesTable.html %}
                <p class="text-center"><a class="marowak-button"  href="/registration.html">Learn More</a></p>
            </div>
        </div>
    </div>
</section>