<section class="row" id="transportation" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?center=37.971537,-79.448247&size=640x200&maptype=terrain&zoom=10&scale=2&key={{site.gmapKey}}'); background-size: cover; background-position: center center;">
    <div class="col-md-4 col-md-offset-1 scheme2" style="margin-top: 50px;">
        <h2 class="gsrtitleL">Transportation</h2>
        <p>Units may take advantage of the Goshen bus system chartered by our local council.</p>
        <p>Units can also drive.</p>
        <p class="text-center"><a href="/information/transportation.html" class="marowak-button">Learn More</a></p>
    </div>
</section>