---
layout: base
---
<header class="container-fluid homepage-banner">
  {% include nav.html %}
  <div id="titleSection">
    <h1 id="gsrTitle">Goshen <br class="visible-xs-block"/><span id="gsrTitle2">Scout Reservation</span></h1>
    <p id="gsrSubtitle"><a href="/camps/bowman.html">Bowman</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/camps/marriott.html">Marriott</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/camps/olmsted.html">Olmsted</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/camps/pmi.html">PMI</a> &nbsp;&nbsp;| &nbsp;&nbsp;<a href="/camps/ross.html">Ross</a> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="/lenhoksin.html">Lenhok'sin</a></p>
    <p id="CTAbutton" style="text-align: center; margin-top: 5%;">
      <a class="haunter-button" href="#">Begin Your Adventure</a>
    </p>
  </div>
  <div class="row hidden-xs" style="position: absolute; bottom: 0; height: 15em; width: 100%; background: linear-gradient(rgba(58,90,91,0.3), rgba(58,90,91,1));"></div>
</header>
<main class="container-fluid">
  {{content}}
</main>